:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #1a2b3c;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --redF1: #e10600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.indicadores{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
}

.indicadores .indicador{
    height: 120px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid gold;
    transition: .5s all ease;
}

.indicadores .indicador:hover{
    scale: 1.1;
}

.indicadores .indicador h3{
    background-color: var(--main-color);
    color: white;
    width: 100%;
    align-items: center;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
}

.indicadores .indicador span{
    font-size: 1.2rem;
    height: 50%;
}